# Final Result

In [1]:
import pandas as pd

In [2]:
ism = pd.read_csv(".//Model_Prediction//In-Sample-MSE.csv",index_col=0)
ism.sort_values(by='In-Sample-MSE',ascending=True)

                               In-Sample-MSE
DecisionTree                       54.353767
GradientBoosting                   54.550886
Bagging                            66.878244
RandomForest                       70.676721
RandomForestQuantileRegressor      78.050718

In [3]:
ise = pd.read_csv(".//Model_Prediction//In-Sample-Efficiency.csv",index_col=0)
ise.sort_values(by='In-Sample-Efficiency',ascending=False)

                               In-Sample-Efficiency
Bagging                                    0.902692
RandomForestQuantileRegressor              0.896589
RandomForest                               0.884954
GradientBoosting                           0.859148
DecisionTree                               0.839818

In [4]:
osm = pd.read_csv(".//Model_Prediction//Out-Sample-MSE.csv",index_col=0)
osm.sort_values(by='Out-Sample-MSE',ascending=True)

                               Out-Sample-MSE
RandomForestQuantileRegressor      296.629900
Bagging                            314.264443
RandomForest                       317.856150
GradientBoosting                   489.094265
DecisionTree                      1135.283027

In [5]:
pd.options.display.float_format = '{:.2f}'.format
pd.read_csv(".\\Model_CV_Result_MSE\\all\\MSE_all.csv",index_col=0)

                                         Cross Validation MSE
4.4B_Bagging(No_PCA)                                   478.68
5.1_Quantile_regression_forest(No_PCA)                 484.88
4.2B_Random_forest(No_PCA)                             489.66
4.3B_Gradient_boosting(No_PCA)                         519.09
3.1B_KNN(No_PCA)                                       759.19
4.2B_Decision_tree(No_PCA)                            1007.49
4.3A_Gradient_boosting                                1680.36
4.2A_Random_forest                                    1714.13
4.1A_Decision_tree                                    1839.94
2.6_Poly_reg_lasso                                    1958.82
3.1A_KNN                                              1959.39
2.4_Lin_reg_lasso                                     3978.06
2.5_Poly_reg_ridge                                    4632.62
2.3_Lin_reg_ridge                                     4632.62
2.1A_Lin_reg                                          9838.15
2.2A_Poly_reg                                        11294.97
2.2B_Poly_reg(No PCA)                  6346356292976052224.00
2.1B_Lin_reg(No_PCA)                   6346356292976052224.00

In [6]:
pd.read_csv(".\\Model_CV_Result_Efficiency\\all\\eff_all.csv",index_col=0)

                                            Normal  Exponential   Empirical
4.4B_Bagging(No_PCA)                          0.66         0.74        0.74
5.1_Quantile_regression_forest(No_PCA)        0.65         0.74        0.74
4.2B_Random_forest(No_PCA)                    0.65         0.74        0.74
4.3B_Gradient_boosting(No_PCA)                0.65         0.71        0.72
4.2B_Decision_tree(No_PCA)                    0.55         0.66        0.66
3.1B_KNN(No_PCA)                              0.59         0.66        0.65
4.2A_Random_forest                            0.27         0.32        0.33
4.3A_Gradient_boosting                        0.23         0.32        0.33
2.6_Poly_reg_lasso                            0.27         0.28        0.32
3.1A_KNN                                      0.26         0.25        0.30
4.1A_Decision_tree                            0.24         0.26        0.29
2.4_Lin_reg_lasso                             0.12         0.20        0.24
2.5_Poly_reg_ridge                            0.09         0.19        0.23
2.3_Lin_reg_ridge                             0.09         0.19        0.23
2.1A_Lin_reg                                 -0.17         0.09        0.14
2.2A_Poly_reg                                -0.19         0.08        0.14
2.1B_Lin_reg(No_PCA)                   -7926499.81  -1151773.28 -1048389.16
2.2B_Poly_reg(No PCA)                  -7926499.81  -1151773.28 -1048389.16

# Selected Model: Bagging

Bagging and Random Forest Quantile Regressor are likely the best options. Bagging is chosen because it has the best 10-fold MSE and best 10 fold efficiency. Additionally, it also has the better in-sample MSE and efficiency.

In [7]:
final_result = pd.read_csv(".//Model_Prediction//Bagging.csv",index_col=0)

In [8]:
final_result

,productID,brandID,attribute1,attribute2,attribute3,attribute4,clickVolume,avgOriginalUnitPrice,avgFinalUnitPrice,ma14SalesVolume,...,meanAge,gender,meanEducation,maritalStatus,plus,meanPurchasePower,meanUserLevel,meanCityLevel,sales,inventory
0,0,4,3.00,90.00,2,15.41,644.00,129.00,127.43,7.57,...,36.00,0.14,3.33,0.67,0.29,2.00,2.57,2.83,12.00,13.00
1,88,36,4.00,100.00,1,4.42,198.00,249.90,135.67,3.29,...,40.67,0.33,2.50,0.33,0.00,2.00,2.00,3.33,3.00,4.00
2,82,11,3.00,100.00,2,9.01,552.00,99.00,49.00,222.29,...,20.00,0.00,3.00,0.00,0.00,2.00,2.00,3.00,19.00,20.00
3,38,14,3.00,80.00,3,17.76,1319.00,79.00,68.45,18.64,...,28.67,0.60,2.57,0.53,0.14,2.67,2.05,3.00,30.00,31.00
4,21,26,2.00,50.00,5,2.25,851.00,69.90,55.73,5.36,...,32.11,0.42,2.89,0.42,0.10,2.21,2.76,1.95,29.00,30.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1538,43,12,3.00,60.00,1,8.62,277.00,139.00,66.66,13.43,...,33.33,0.33,3.00,0.60,0.29,2.00,3.00,2.17,6.00,7.00
1539,36,19,3.00,60.00,5,2.73,694.00,119.00,60.32,23.07,...,30.39,0.23,3.07,0.61,0.30,2.21,2.67,2.03,27.00,27.00
1540,24,26,2.00,50.00,2,2.34,941.00,94.90,94.90,14.50,...,32.50,0.50,2.75,0.50,0.25,2.00,2.25,2.25,19.00,19.00
1541,36,19,3.00,60.00,2,23.10,188.00,119.00,71.90,6.71,...,27.50,0.12,3.12,0.62,0.00,2.38,1.67,2.71,6.00,7.00
1542,90,35,4.00,100.00,1,13.05,237.00,230.00,163.57,4.29,...,30.00,0.20,3.40,0.20,0.50,2.00,3.00,1.80,5.00,6.00

In [9]:
final_result.to_csv("group4.csv")

# 10 Fold Cross Validation for the selected Model (Bagging)

In [10]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error as MSE
from sklearn.ensemble import BaggingRegressor
import scipy.stats as sct

In [11]:
np.random.seed(42)

In [12]:
X_train = pd.read_csv("data-train.csv",index_col=0)
Y_train = X_train.sales
X_train = X_train.drop(['sales'],axis=1)

In [13]:
best_boot = True
best_boot_feat = False 
best_n_est = 1000

In [14]:
Price=20
Cost=12
Salvage=8
Over=Cost - Salvage
Under=Price - Cost
Over, Under

(4, 8)

In [15]:
def inv(sample,jump,area):
    size = len(sample)
    i=0
    temp=jump[i]
    while temp<area:
        i+=1
        temp=jump[i]
        
    return sample[i]

In [16]:
def profit(demand,inv):
    return (Price-Salvage)*np.minimum(demand,inv)-(Cost-Salvage)*inv

In [17]:
Model_4= Model_2 = BaggingRegressor(bootstrap=best_boot,bootstrap_features=best_boot_feat,n_estimators=best_n_est,n_jobs=-1)

In [18]:
from sklearn.model_selection import KFold
k=10
kf = KFold(n_splits=k)
X_train_t=X_train.to_numpy()
Y_train_t=Y_train.to_numpy()
model = []
mse_lst = []
max_profit_lst = []
profit_N_lst = []
profit_E_lst = []
profit_B_lst = []

for train_index,test_index in kf.split(X_train_t):
    X_train_K,X_test_K=X_train_t[train_index],X_train_t[test_index]
    Y_train_K,Y_test_K=Y_train_t[train_index],Y_train_t[test_index]
    
    #PCA to transform train data
    
    #Model
    RG_K = Model_4
    RG_K.fit(X_train_K,Y_train_K.ravel())
    
    #pca to transform test data
    
    #MSE
    mse_lst.append(MSE(RG_K.predict(X_test_K),Y_test_K))
    
    #Transform log(sale) back to sale
    result_K = pd.DataFrame(Y_test_K)
    result_K["Predicted_sales"] = RG_K.predict(X_test_K)
    
    #Obtain residual
    residual_K = result_K[0]-result_K['Predicted_sales']
    
    #Get std for Normal distribution
    s_K = residual_K.std()
    
    #Inventory Decision (Normal)
    opt_dec_N_K=np.ceil(sct.norm.ppf(Under/(Under+Over))*s_K + result_K['Predicted_sales'])
    #Inventory Decision (Exponential)
    opt_dec_E_K=np.ceil((-result_K['Predicted_sales'])*np.log(1-(Under/(Under+Over))))
    
    #Inventory Decision (Empirical Distribution)
    size_K = residual_K.shape[0]
    step_K=1/size_K
    jumps_K = [step_K*i for i in range(1,size_K+1)]
    Sample_K = sorted(residual_K)
    offset_K = inv(Sample_K,jumps_K,2/3)
    opt_dec_B_K = np.ceil(result_K['Predicted_sales']+offset_K)
    
    #Out-of_sample profit
    profit_lst_B_K = profit(result_K[0],opt_dec_B_K)
    profit_B_lst.append(profit_lst_B_K.sum())
    
    profit_lst_N_K = profit(result_K[0],opt_dec_N_K)
    profit_N_lst.append(profit_lst_N_K.sum())
    
    profit_lst_E_K = profit(result_K[0],opt_dec_E_K)
    profit_E_lst.append(profit_lst_E_K.sum())
    
    max_profit_K = result_K[0].sum()*(Price-Cost)
    max_profit_lst.append(max_profit_K)
    
max_profit_lst = np.array(max_profit_lst)
profit_N_lst = np.array(profit_N_lst)
profit_E_lst = np.array(profit_E_lst)
profit_B_lst = np.array(profit_B_lst)

fraction_of_max_N = profit_N_lst/max_profit_lst
fraction_of_max_E = profit_E_lst/max_profit_lst
fraction_of_max_B = profit_B_lst/max_profit_lst

dist_profit = ["Normal","Exponential","Empirical","Max"]
dist_frac = ["Normal","Exponential","Empirical"]
col_name = ["Dataset_"+str(i) for i in range(1,k+1)]

profit_lst = [profit_N_lst,profit_E_lst,profit_B_lst,max_profit_lst]
profit_table = pd.DataFrame(profit_lst,index=dist_profit,columns=col_name)
profit_table["mean_profit"]=profit_table.mean(axis=1)
profit_table["std_profit"]=profit_table.std(ddof=1,axis=1)

fraction_lst = [fraction_of_max_N,fraction_of_max_E,fraction_of_max_B]
fraction_table = pd.DataFrame(fraction_lst,index=dist_frac,columns=col_name)
fraction_table["mean_fraction"]=fraction_table.mean(axis=1)

In [19]:
fraction_table

,Dataset_1,Dataset_2,Dataset_3,Dataset_4,Dataset_5,Dataset_6,Dataset_7,Dataset_8,Dataset_9,Dataset_10,mean_fraction
Normal,0.73,0.71,0.59,0.63,0.55,0.73,0.69,0.66,0.60,0.67,0.66
Exponential,0.78,0.76,0.72,0.75,0.72,0.77,0.76,0.73,0.71,0.74,0.74
Empirical,0.79,0.75,0.72,0.74,0.71,0.78,0.75,0.73,0.72,0.74,0.74

In [20]:
profit_table

,Dataset_1,Dataset_2,Dataset_3,Dataset_4,Dataset_5,Dataset_6,Dataset_7,Dataset_8,Dataset_9,Dataset_10,mean_profit,std_profit
Normal,30356.00,32060.00,27168.00,29276.00,27432.00,28312.00,34012.00,30576.00,27008.00,27708.00,29390.80,2219.93
Exponential,32216.00,34188.00,33316.00,34948.00,35944.00,30180.00,37272.00,33556.00,31816.00,30780.00,33421.60,2136.63
Empirical,32624.00,34004.00,33284.00,34512.00,35284.00,30288.00,36648.00,33476.00,32000.00,30840.00,33296.00,1855.04
Max,41384.00,45256.00,46296.00,46600.00,49640.00,39048.00,48968.00,46120.00,44704.00,41648.00,44966.40,3203.88

In [21]:
mse_table = pd.DataFrame(mse_lst,index=col_name,columns=['Cross Validation MSE'])
mse_table

            Cross Validation MSE
Dataset_1                 148.85
Dataset_2                 260.46
Dataset_3                 778.31
Dataset_4                 659.40
Dataset_5                1210.26
Dataset_6                 146.01
Dataset_7                 366.57
Dataset_8                 404.46
Dataset_9                 567.12
Dataset_10                266.91

In [22]:
print(f"Average 10 fold CV MSE:  {float(mse_table.mean())}")

Average 10 fold CV MSE:  480.8345898300903